/* - - - - GLOBAL - - - - */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: silver;
}

a:link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a:visited {
    color: #000;
}

a:hover {
    color: rgb(0, 81, 255);
}

body {
    width: 100%;
    background-color: #f5f5f5;
}

.space {
    padding-top: 15vh;
    height: 10vh;
}

/* - - - - HEADER - - - - */

header {
    background-color: #fafafa;
    position: fixed;
    width: 100vw;
}

.barre {
    display: flex;
    align-items: center;
}

.marque img {
    height: 9vh;
    width: 13vw;
}

.navbar {
    flex-direction: column;
    width: 100%;
    line-height: 2vh;
}

.navbar ul {
    list-style: none;
    text-align: center;
    font-size: 17px;
    z-index: 1000;
	/*overflow: hidden;*/
	-moz-transition: .8s all .3s;
	-webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    max-height: 0;
    width: 100%;
}

.navbar li {
    padding: 2%;
    float: left;
}

.navbar ul li {
    display: inherit;
    position: relative;
}

.fa-shopping-cart {
    color: #000;
    float: left;
    margin-right: 3vh;
}

/* - - - - Promos - - - - */

#promos {
    height: 60vh;
    width: 80vw;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2), 
                3px 3px 12px 0 rgba(0, 0, 0, 0.19);      
}

#promos h1 {
    padding-top: 4vh;
    text-align: center;
    padding-bottom: 6vh;
}

#promos img {
    width: 25vw;
    height: 30vh;
}

.product {
    color: black;
    text-align: center;
    width: 25vw;
    display: inline-block;
}

.product-price {
    display: grid;
    text-align: center;
}


/* - - - - Nouveautés - - - - */

#new {
    height: 60vh;
    width: 60vw;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2), 
                3px 3px 12px 0 rgba(0, 0, 0, 0.19);      
}

#new h1 {
    padding-top: 4vh;
    text-align: center;
    padding-bottom: 2vh;
}

#new img {
    width: 85%;
    height: 85%;
}

.new-product {
    color: black;
    text-align: center;
    width: 20vw;
    display: inline-block;
    margin: 0 4vw;
    padding-top: 3vh;
}

/* - - - - Produits - - - - */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } 

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdown-content a:hover {
      color: rgb(0, 81, 255);
  }